{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">1%",
            "not op_mini all",
            "safari 9"
          ]
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "firebase-react-store": "./src"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "react",
        [
          "env",
          {
            "modules": "commonjs",
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
