{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
